.AutomateTask {
    .displayFlex {
        display: flex;
        justify-content: center;
    }

    .AlignCenter {
        text-align: center;
    }

    .PaddingZero {
        padding: 0;
    }

    .JustifyContentEnd {
        justify-content: flex-end;
    }

    .JustifyContentStart {
        justify-content: flex-start;
    }
}
